.wrapper {
	padding-top: 40px;
	padding-bottom: 49px;
}

.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 0 20px;

	align-items: baseline;
	justify-items: flex-start;
	margin-bottom: 20px;
}

.hhTitle {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0 20px;

	align-items: baseline;
	justify-items: flex-start;
}
.advantages {
	margin-top: 47px;
}
.advantagesSummury {
	margin-top: 30px;
}
.tags {
	margin-top: 30px;
}
.tagsList {
	margin-top: 22px;
	div {
		margin-right: 10px;
	}
}
.seo {
	margin-top: 30px;
}