.firstLevelItem {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	color:  var(--gray-dark);
	line-height: 25px;
	margin-top: 20px;
	svg {
		fill: var(--gray-dark);
	}
}

.firstLevelItemActive, .firstLevelItem:hover {
	color: var(--primary);
	svg {
		fill: var(--primary);
	}
}

.secondLevelWrapper {
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 12px;
	padding-left: 32px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-left: 1px solid #DFDFDF;
}

.secondLevelItem {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
}
.secondLevelBlockOpened {
	margin-bottom: 20px;
}
.thirdLevelItem {
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color:  var(--gray-dark);
	margin-bottom: 10px;
}

.thirdLevelMenuActive, .thirdLevelItem:hover {
	color: var(--primary);
}