$breakMobile: 765px;

:root {
	--animation-duration: 0.3s;
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--white-hover: rgb(218, 218, 218);
	--white: #FFF;
	--primary: #7653FC;
	--primary-hover: #6748E4;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8ED;
	--font-family: 'Noto Sans KR', sans-serif;
	--gray-dark: #787D85;
	--container-size: 1200px;
	--break-mobile: 765px;
}
